.card {
    font-family: "Roboto", "Helvetica", "Arial", sans-serif;
    margin: 0 auto;
    margin: 10px;
    background-color: white;  
    box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.36);
    font-size: 13px;
    width: 175px;
    border-radius: 3px;
}

.form {
    font-family: inherit;
    margin: 0 auto;
    padding: 5px;
    width: 90%;
    /* display: flex; */
    /* flex-direction: column; */
}

.asin {
    font-size: 12px;
    color: rgba(0, 0, 0, 0.5);
    margin-bottom: 0;
    padding: 0;
}

.card p {
    margin-bottom: 0;
    /* margin-top: 5px; */
}

.alert{
    position: fixed;
    left: 25%;
    bottom: 50%;
    color: var(--warning-text);
    font-family: "Roboto", "Helvetica", "Arial", sans-serif;
    margin: 0 auto;
    padding: 5px;
    margin: 10px, 10px;
    width: 50%;
    background-color: var(--warning);
    box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.36);
    border-radius: 3px;
    z-index: 99;
}

.trackedAlert {
    color: var(--success-text);
    background-color: var(--success);
}

.details {
    /* margin: 0 auto; */
    display: flex;
    /* align-items: center; */
    /* justify-content: center; */
}
.detailsList {
    flex-direction: column;
    margin: 0;
    text-align: left;
}

.p {
    font-size: 12px;
    flex-basis: 100%;
    text-align: left;
    margin-top: 0px;
    margin-right: 20px;
}

.input {
    font-family: inherit;
    background-color: transparent;
    width: 100%;
    margin: 5px 0;
    padding: 2px;
    font-size: 16px;
    color: var(--secondary-light);
    border: none;
    border-bottom: 1px solid var(--light);
    border-radius: 0px;
    /* margin: 10px; */
    /* margin-bottom: 10px; */

    -webkit-transition: border-bottom .55s ease;
    -moz-transition: border-bottom .55s ease;
    -ms-transition: border-bottom .55s ease;
    -o-transition: border-bottom .55s ease;
    transition: border-bottom .55s ease;  
}

  /* Remove focus */
.input:focus, .button:focus{
    outline: none;
}
  
.input:hover, .input:active, .input:focus, .select:hover, .select:active, .select:focus {
    border-bottom: 1px solid var(--primary-color);
}

.iframe {
    width:120px;
    height:240px;
    margin: 10px 20px;
    margin: 10px auto;
}

.inputDiv {
    display: flex;
    margin: 0 5px;
    flex-basis: 100%;
    align-self: center;
}

.inputDiv .input {
    padding-left: 30px;
}

.icon {
    position: absolute;
    font-size: 20px;
    margin-left: 4px;
    margin-top: -3px;
    align-self: center;
    z-index: 1;
    color: var(--secondary-light);
}

.button {
    font-family: inherit;
    background-color:rgb(7, 80, 7);
    width: 100%;
    padding: 3px 10px;
    margin: 10px 0px;
    font-size: 16px;
    color: rgb(255, 255, 255);
    border: none;
    box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.36);
    cursor: pointer;
    border-radius: 3px;

    -webkit-transition: background-color .55s ease;
    -moz-transition: background-color .55s ease;
    -ms-transition: background-color .55s ease;
    -o-transition: background-color .55s ease;
    transition: background-color .55s ease;  
}

.disabled {
    background-color:rgb(51, 121, 51);
    width: 100%;
    padding: 3px 10px;
    margin: 10px 0px;
    font-size: 16px;
    color: rgb(255, 255, 255);
    border: none;
    box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.36);
    /* cursor: pointer; */
    border-radius: 3px;
}
  
.button:hover {
    background-color: rgb(17, 113, 17);
}
  
.button:active {
    transform: translateY(4px);
    box-shadow: 0px 1px 1px 0px rgba(0, 0, 0, 0.26);
}

.smallImage {
    height: 50px;
    margin: 10px 20px;
    /* align-self: center; */
}


  /* @media (max-width: 600px) {
    .card {
      margin: 10px auto 20px auto;
    }
    
  } */