
  .card {
    font-family: "Roboto", "Helvetica", "Arial", sans-serif;
    margin: 0 auto;
    padding: 5px;
    width: 80%;
    display: flex;
    flex-direction: row;
    /* border-top: 2px solid rgba(0, 0, 0, .5); */
    /* border-bottom: 2px solid rgba(0, 0, 0, .5); */
    box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.36);
    /* border-radius: 2px; */
    /* justify-content: space-between; */
  }

  .select, .input {
    font-family: inherit;
    background-color: transparent;
    width: 100%;
    margin: 5px 0;
    padding: 2px;
    font-size: 16px;
    color: rgba(0, 0, 0, 0.5);
    border: none;
    border-bottom: 1px solid rgba(0, 0, 0, 0.12);
    border-radius: 0px;
    /* margin: 10px; */
    /* margin-bottom: 10px; */

    -webkit-transition: border-bottom .55s ease;
    -moz-transition: border-bottom .55s ease;
    -ms-transition: border-bottom .55s ease;
    -o-transition: border-bottom .55s ease;
    transition: border-bottom .55s ease;  
  }

  .select {
    padding-left: 30px;
  }

  /* Remove focus */
  .select:focus, .input:focus, .button:focus{
    outline: none;
  }
  
  .input:hover, .input:active, .input:focus, .select:hover, .select:active, .select:focus {
    border-bottom: 1px solid rgb(80, 80, 80);
  }
  
  /* Hide label */
  .selectDiv label, .asinSelectDiv label {
    display: none;
  }
  
  /* Use custom arrow */
  .selectDiv select, .asinSelectDiv select {
    -webkit-appearance: none;
    -moz-appearance: none;
    -o-appearance: none;
    appearance: none;
  }
  
  .selectDiv, .asinSelectDiv {
    position: relative;
    margin: 0 5px;
    flex-basis: 275px;
    /* flex-grow: 1; */
    align-self: center;
  }

  .asinSelectDiv {
    flex-basis: 500px;
    /* flex-grow: 1; */
    align-self: center;
  }

  .selectDiv:after, .asinSelectDiv:after {
    position: absolute;
    top: .75em;
    right: 0.1em;
    /* Styling the down arrow */
    width: 0;
    height: 0;
    padding: 0;
    content: "";
    border-left: 0.25em solid transparent;
    border-right: 0.25em solid transparent;
    border-top: 0.375em solid rgba(0, 0, 0, 0.5);
    pointer-events: none;
  }
  
  .selectDiv:hover:after, .asinSelectDiv:hover:after {
    border-top: 0.375em solid rgba(0, 0, 0, 0.8);
  }
  .inputDiv {
    display: flex;
    margin: 0 5px;
    /* flex-basis: 100px; */
    /* flex-shrink: 1; */
    flex-basis: 100%;
    align-self: center;
  }

  .inputDiv .input {
    padding-left: 30px;
  }

  .btnDiv {
    padding: 10px;
    /* margin: 10px 20px; */
    flex-basis: 150px;
    /* flex-shrink: 1; */
    align-self: center;
  }

  .button {
    font-family: inherit;
    background-color: rgb(10, 104, 10);
    width: 100%;
    padding: 3px 10px;
    font-size: 16px;
    color: rgb(255, 255, 255);
    border: none;
    box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.36);
    cursor: pointer;
    border-radius: 3px;
  }
  
  .button:hover {
    background-color:rgb(7, 80, 7);
  }
  
  .button:active {
    transform: translateY(2px);
    box-shadow: 0px 1px 1px 0px rgba(0, 0, 0, 0.26);
  }

.icon {
    position: absolute;
    font-size: 20px;
    margin-left: 5px;
    margin-top: -3px;
    align-self: center;
    z-index: 1;
    color: rgba(0, 0, 0, 0.5);
}

.iconAmazon {
  position: absolute;
  font-size: 15px;
  margin-left: 5px;
  margin-top: 7px;
  align-self: center;
  z-index: 1;
  color: rgba(0, 0, 0, 0.5);
}

  @media (max-width: 600px) {
    .card {
      display: block;
    }
  }