
.card {
    font-family: "Roboto", "Helvetica", "Arial", sans-serif;
    margin: 0 auto;
    padding: 5px;
    margin: 10px, 0px;
    width: 80%;
}

.p {
    margin-top: 30px;
    margin-bottom: 0px;
}

.input {
    font-family: inherit;
    background-color: transparent;
    width: 100%;
    margin: 5px 0;
    padding: 2px;
    font-size: 16px;
    color: rgba(0, 0, 0, 0.5);
    border: none;
    border-bottom: 1px solid rgba(0, 0, 0, 0.12);
    border-radius: 0px;
    /* margin: 10px; */
    /* margin-bottom: 10px; */

    -webkit-transition: border-bottom .55s ease;
    -moz-transition: border-bottom .55s ease;
    -ms-transition: border-bottom .55s ease;
    -o-transition: border-bottom .55s ease;
    transition: border-bottom .55s ease;  
}

  /* Remove focus */
.input:focus, .button:focus{
    outline: none;
}
  
.input:hover, .input:active, .input:focus {
    border-bottom: 1px solid rgb(80, 80, 80);
}

.inputDiv {
    /* display: flex; */
    margin: 0 5px;
    /* flex-basis: 100px; */
    /* flex-shrink: 1; */
    /* flex-basis: 100%; */
    align-self: center;
}

.btnDiv {
    width: 100%;
    /* padding: 10px; */
    /* margin: 10px 20px; */
    /* flex-basis: 150px; */
    /* flex-shrink: 1; */
    align-self: center;
}

.button {
    font-family: inherit;
    background-color: var(--primary-color);
    width: 100%;
    padding: 3px 10px;
    margin-top: 10px;
    font-size: 16px;
    color: rgb(255, 255, 255);
    border: none;
    box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.36);
    cursor: pointer;
    border-radius: 3px;
}
  
.button:hover {
    background-color:black;
}
  
.button:active {
    transform: translateY(2px);
    box-shadow: 0px 1px 1px 0px rgba(0, 0, 0, 0.26);
}

/* @media (max-width: 600px) {
    .card {
      display: block;
    }
} */