.icon {
    font-size: 50px;
    margin: 5px 0px;
    animation: pulse 1s infinite, fadein 1s;
}

@keyframes pulse {
      50% {
        transform: scale(.5);
      }
}

@keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

