.form {
    display: flex;
    justify-content: flex-end;
    padding-top: 0px;
    margin-top: 0px;
}

.login {
    margin-top: 0px;
    padding: 0px 3px;
    align-self: center;
    color: var(--primary-color);
}

.p {
    margin-top: 0px;
    margin-bottom: 0px;
    font-size: 12px;
    align-self: center;
}

.showSignup {
    color: var(--secondary-color);
    margin-top: 0px;
    margin-bottom: 0px;
    margin-left: 5px;
    font-size: 10px;
    align-self: center;
    cursor: pointer;

    -webkit-transition: color .55s ease;
    -moz-transition: color .55s ease;
    -ms-transition: color .55s ease;
    -o-transition: color .55s ease;
    transition: color .55s ease;
}

.showSignup:hover {
    color: var(--secondary-light);
}

.showLogin {
    margin: 5px;
    font-size: 12px;
    cursor: pointer;
}

.loginButton, .logoutButton {
    cursor: pointer;
    color: var(--primary-color);
    border-radius: 2px;
    background-color: var(--secondary-color);
    align-self: center;
    border: none;

    -webkit-transition: background-color .55s ease;
    -moz-transition: background-color .55s ease;
    -ms-transition: background-color .55s ease;
    -o-transition: background-color .55s ease;
    transition: background-color .55s ease;
}

.loginButtonDisabled {
    color: var(--primary-color);
    border-radius: 2px;
    background-color: var(--secondary-color);
    align-self: center;
    border: none;
}

.loginButton:hover, .logoutButton:hover {
    background-color: var(--secondary-light);
}

label {
    display: none;
}

/* Signup */

.signupBackground{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 9;
    background-color: rgba(0, 0, 0, 0.2);
}
.signUpContainer {
    /* position: absolute; */
    
    /* right: 18%; */
    /* top: 20px; */
    z-index: 10;
    /* color: black; */
    font-family: "Roboto", "Helvetica", "Arial", sans-serif;
    margin: 40px auto;
    padding: 20px 40px;
    /* margin: 10px; */
    width: 250px;
    background-color: white;
    box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.36);
    border-radius: 3px;
}

.signupTitle {
    font-weight: bold;
    margin: 10px;
    color: var(--secondary-color);
}

 .icon {
    position: absolute;
    /* margin-right: 350px; */
    margin-top: -50px;
    margin-left: 140px;
    color: rgba(0, 0, 0, 0.6);
    cursor: pointer;
}

.icon:hover {
    color: rgba(0, 0, 0, 0.8);
}

.signInInput {
    font-family: inherit;
    background-color: transparent;
    width: 95%;
    /* max-width: 100px; */
    /* margin: 0px 5px;
    padding: 5px; */
    /* margin-right: 10px; */
    
    font-size: 12px;
    color: var(--secondary-light);
    border: none;
    border-bottom: 1px solid var(--secondary-color);
    border-radius: 0px;

    -webkit-transition: border-bottom .55s ease;
    -moz-transition: border-bottom .55s ease;
    -ms-transition: border-bottom .55s ease;
    -o-transition: border-bottom .55s ease;
    transition: border-bottom .55s ease;  
}
.input {
    font-family: inherit;
    background-color: transparent;
    width: 100%;
    margin: 5px 0;
    padding: 2px;
    font-size: 16px;
    color: var(--secondary-color);
    border: none;
    border-bottom: 1px solid var(--light);
    border-radius: 0px;
    /* margin: 10px; */
    /* margin-bottom: 10px; */

    -webkit-transition: border-bottom .55s ease;
    -moz-transition: border-bottom .55s ease;
    -ms-transition: border-bottom .55s ease;
    -o-transition: border-bottom .55s ease;
    transition: border-bottom .55s ease;  
}

  /* Remove focus */
.input:focus, .button:focus, .signInInput, .loginButton, .logoutButton{
    outline: none;
}
  
.input:hover, .input:active, .input:focus {
    border-bottom: 1px solid var(--secondary-color);
}

.signInInput:hover, .signInInput:active, .signInInput:focus {
    border-bottom: 1px solid var(--secondary-light);
}

.inputDiv {
    margin: 0 5px;
    align-self: center;
}

.btnDiv {
    width: 100%;
    align-self: center;
}

.signUpButton {
    font-family: inherit;
    background-color: var(--primary-color);
    width: 100%;
    padding: 3px 10px;
    margin: 10px 0px 5px 0px;
    font-size: 16px;
    color: rgb(255, 255, 255);
    border: none;
    box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.36);
    cursor: pointer;
    border-radius: 3px;

    -webkit-transition: background-color .55s ease;
    -moz-transition: background-color .55s ease;
    -ms-transition: background-color .55s ease;
    -o-transition: background-color .55s ease;
    transition: background-color .55s ease;
}

.signUpButtonDisabled {
    font-family: inherit;
    background-color: var(--primary-color);
    width: 100%;
    padding: 3px 10px;
    margin: 10px 0px 5px 0px;
    font-size: 16px;
    color: rgb(255, 255, 255);
    border: none;
    box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.36);
    border-radius: 3px;
}
  
.signUpButton:hover {
    background-color: var(--secondary-color);
}
  
.signUpBtn:active {
    transform: translateY(2px);
    box-shadow: 0px 1px 1px 0px rgba(0, 0, 0, 0.26);
}

.error, .signupError {
    color: rgb(171, 0, 0);
}

.error::-webkit-input-placeholder, .signupError::-webkit-input-placeholder { /* Chrome/Opera/Safari */
    color: rgb(171, 0, 0);
}
.error::-moz-placeholder, .signupError::-moz-placeholder { /* Firefox 19+ */
    color:rgb(171, 0, 0);
}
.error:-ms-input-placeholder, .signupError:-ms-input-placeholder { /* IE 10+ */
    color: rgb(171, 0, 0);
}
.error:-moz-placeholder, signupError:-moz-placeholder { /* Firefox 18- */
    color:rgb(171, 0, 0);
}

.loginMessage {
    font-family: "Roboto", "Helvetica", "Arial", sans-serif;
    position: absolute;
    left: 25%;
    top: 20px;
    color: var(--success-text);
    background-color: var(--success);
    margin: 0 auto;
    padding: 5px;
    margin: 10px, 10px;
    width: 50%;
    box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.36);
    border-radius: 3px;
    z-index: 99;
}

.loginErrorMessage {
    background-color: var(--warning);
    color: var(--warning-text);
}


@media (max-width: 400px) {
    .loginMessage {
        width: 90%;
        left: 3.5%
    }

    .signUpContainer {
        width: 200px;
    }

    .icon {
        margin-left: 115px;
    }
}
