.form {
    font-family: "Roboto", "Helvetica", "Arial", sans-serif;
    font-weight: bold;
    width: 100%;
    padding: 20px 0;
    margin: 0 auto;
}

.container {
    font-family: inherit;
    vertical-align: middle;
    white-space: nowrap;
    position: relative;
  }

.searchInput {
    font-family: inherit;
    width: 75%;
    height: 25px;
    border: none;
    background-color: transparent;
    font-size: 17px;
    color: var(--secondary-light);
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 0px;
    border-bottom: 1px solid var(--light);
   
    -webkit-transition: border-bottom .55s ease;
    -moz-transition: border-bottom .55s ease;
    -ms-transition: border-bottom .55s ease;
    -o-transition: border-bottom .55s ease;
    transition: border-bottom .55s ease;  
}

.searchInput {
    height: 25px;
    padding-left: 35px;
}

.searchInput:hover, .searchInput:focus, .searchInput:active {
    outline:none;
    border-bottom: 1px solid var(--primary-color);
    box-shadow: none;
}

.searchInput:-webkit-autofill,
.searchInput:-webkit-autofill:hover, 
.searchInput:-webkit-autofill:focus {
    -webkit-box-shadow: 0 0 0 30px rgb(240, 240, 240) inset;
    box-shadow: 0 0 0 30px rgb(240, 240, 240) inset;
    -webkit-text-fill-color:var(--secondary-light);
}

.container .searchInput::-webkit-input-placeholder {
    color:rgba(0, 0, 0, 0.5);
 }
  
 .container .search:-moz-placeholder { /* Firefox 18- */
    color: rgba(0, 0, 0, 0.5); 
 }
  
 .container .search::-moz-placeholder {  /* Firefox 19+ */
    color: rgba(0, 0, 0, 0.5);
 }
  
 .container .search:-ms-input-placeholder {  
    color: rgba(0, 0, 0, 0.5); 
}

.container .icon{
    font-size: 25px;
    position: absolute;
    top: 50%;
    margin-left: 4px;
    margin-top: -17px;
    z-index: 1;
    color: rgba(0, 0, 0, 0.5);
}

/* .container:hover .icon{
    margin-top: 4px;
    color: #93a2ad;
} */

.searchBtn {
    margin-left: 5px;
}