.card {
    font-family: "Roboto", "Helvetica", "Arial", sans-serif;
    margin: 10px;
    /* height: 270px; */
    width: 175px;
    background-color: white;
    box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.36);
    border-radius: 3px;
    font-size: 13px;
    text-align: center;
}

.asin {
    font-size: 12px;
    color: rgba(0, 0, 0, 0.5);
    margin-bottom: 0;
    padding: 0;
}

.card .message {
    margin-top: 5px;
    margin-bottom: 0px;
}

/* .details {
    margin: 0 auto;
    width: 90%;
    height: 175px;
    align-items: center;
    overflow: hidden;
} */

.iframe {
    width:120px;
    height:240px;
    margin: 10px 20px;
    margin: 10px auto;
}

.p {
    font-size: 12px;
    flex-basis: 100%;
    text-align: left;
    margin-right: 10px;
}

.button {
    font-family: inherit;
    background-color: rgb(128, 15, 15);
    width: 90%;
    margin-bottom: 15px;
    padding: 3px 10px;
    font-size: 16px;
    color: rgb(255, 255, 255);
    border: none;
    box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.36);
    cursor: pointer;
    border-radius: 3px;

    -webkit-transition: background-color .55s ease;
    -moz-transition: background-color .55s ease;
    -ms-transition: background-color .55s ease;
    -o-transition: background-color .55s ease;
    transition: background-color .55s ease;  
}

.button:hover {
    background-color: rgb(182, 2, 2);
}
  
.button:active {
    transform: translateY(4px);
    box-shadow: 0px 1px 1px 0px rgba(0, 0, 0, 0.26);
}

.button:focus{
    outline: none;
  }

.smallImage {
    height: 50px;
    margin: 10px 20px 10px 0px;
}