.App {
  text-align: center;
}

.App-header {
  background-color: var(--primary-color);
  height: 40px;
  padding: 20px;
  padding-top: 5px;
  color: white;
  margin-bottom: 5px;
  /* position: -webkit-sticky;
  position: sticky;
  top: 0;
  z-index: 11; */
}

.App-title {
  font-size: 1.3em;
  margin: 10px;
  padding: 0;
}

.login {
  display: flex;
  justify-content: flex-end;
  
}

.credBtn {
  padding-left: 5px;
  cursor: pointer;
  color: white;
  background-color: transparent;
  align-self: center;
  margin-left: 5px;
}

.credBtn:focus {
  outline: none;
}

.hide {
  opacity: 1;
    transition: opacity 1s ease-out;
    opacity: 0; 
    display: none;
}

.searchAndLoading {
  height: 70px;
}

.search {
  animation: fadein 1s;
}

@keyframes fadein {
  from { opacity: 0; }
  to   { opacity: 1; }
}

.trackedButton {
  /* position: fixed;
  top: 75px;
  right: 5px; */
  font-family: inherit;
  background-color: var(--primary-color);
  width: 120px;
  /* height: 70px; */
  padding: 3px 10px;
  font-size: 10px;
  text-transform: uppercase;
  text-align: center;
  color: white;
  border: none;
  box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.5);
  cursor: pointer;
  border-radius: 3px;
  /* display: flex; */
  /* z-index: 13; */

  -webkit-transition: background-color .55s ease;
  -moz-transition: background-color .55s ease;
  -ms-transition: background-color .55s ease;
  -o-transition: background-color .55s ease;
  transition: background-color .55s ease; 
}

.stickyButton {
  position: -webkit-sticky;
  position: sticky;
  margin-right: 5px;
  top: 5px;
  z-index: 13;
  display: flex;
  justify-content: flex-end;
}

.trackedButton:hover {
  background-color: rgb(65, 65, 65);
}

.trackedButton:active {
  transform: translateY(1px);
  box-shadow: 0px 1px 1px 0px rgba(0, 0, 0, 0.26);
}

.trackedButton:focus {
  outline: none;
}

.searchedResult {
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
}

.trackedResultsContainer {
  margin: 10px auto;
  padding: 0;
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
}

.exitIcon {
  position: relative;
  /* margin-right: 350px; */
  margin-top: 40px;
  margin-left: 100%;
  color: rgba(255, 255, 255, 0.6);
  cursor: pointer;

  -webkit-transition: color .55s ease;
  -moz-transition: color .55s ease;
  -ms-transition: color .55s ease;
  -o-transition: color .55s ease;
  transition: color .55s ease;
}

.exitIcon:hover {
  color: var(--secondary-color);
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

@media (max-width: 500px) {
  .productsContainer {
    flex-direction: column; 
  }
  /* .trackedButton {
    width: 40px;
    height: 40px;
    border-radius: 40px;
    font-size: 10px;
    text-align: center;
  } */
  /* .searchedResultsContainer {
    display: block;
  } */

  /* .trackedResultsContainer {
    display: block;
  } */
}
