:root{
  --primary-color: #222;
  --secondary-color: #4e4e4e;
  --secondary-light: #818181;
  --light: #d1d1d1;
  --warning: #f2dede;
  --warning-text: #a94442;
  --success: #d0e9c6;
  --success-text: #3c763d;
}

html {
  background-color: rgb(240, 240, 240);
}

body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}
